/* header part css  */
.header-bg{
    background-color: #264653;
}
.text-color-white{
    color: #fff;
}
.text-color-gray{
   color: #E0E0E0;
}
.btn-color{
    background-color: #E76F51;
    color: #fff;
}
/* main featured part css  */
.text-color-orange{
    color: #E76F51;
}
.gray-scale{
    filter: grayscale(100%);
}
.btn-property{
    border: 1px solid #E76F51;
    color: #E76F51;
    transition: all linear 0.3s;
}
.btn-property:hover{
    background-color:#E76F51 ;
    color: #fff;
}
/* happy client part css  */
.round-image{
    border-radius: 50%;
}
